{% extends 'base.html.twig' %}

{% block title %}Monopoly Game{% endblock %}

{% block body %}
    <h1>Bienvenue dans le jeu Monopoly</h1>
    <p>Le design pattern Singleton a été appliqué avec succès à la classe Banque.</p>

    <h1>Solde de la banque : {{ solde }}</h1>

    <h2>Propriété Terrain :</h2>
    <p>Nom : {{ terrainNom }}</p>
    <p>Type : {{ terrainType }}</p>
    <hr>
    <p>Loyer sans maison : {{ terrainLoyerSansMaison }}</p>

    <h2>Propriété CompagnieEE :</h2>
    <p>Nom : {{ compagnieEENom }}</p>
    <p>Type : {{ compagnieEEType }}</p>
    <hr>
    <p>Multiplicateur : {{ compagnieEEMultiplicateur }}</p>

    <h2>Propriété Gare :</h2>
    <p>Nom : {{ gareNom }}</p>
    <p>Type : {{ gareType }}</p>
    <hr>
    <p>Loyer : {{ gareLoyer }}</p>

    <h2>Plateau :</h2>
    {% for case in cases %}
        <p>Case : {{ case.nom }}</p>
    {% endfor %}

    <h2>Les joueurs :</h2>
    {% for joueur in joueurs %}
        <p>Joueur : {{ joueur.nom }}</p>
        <p>Argent : {{ joueur.argent }}</p>
    {% endfor %}

{% endblock %}
